# Node modules
node_modules/

# Build artifacts
dist/
build/
public/
coverage/

# IDE specific files
.idea/
*.suo
*.suo.meta
*.user
*.cache
*.sln
*.vcproj
*.vcxproj

# Log files
*.log
npm-debug.log

# Environment variables
.env
.env.local

# Testing files
.nyc_output/


# Lint cache
.eslintcache

# Temporary files
*.swp
*.tmp
*.bak
*~