.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-container {
  display: flex;
  flex-direction: column;
  width: clamp(200px, 400px, 500px);
  height: auto;
  border: black solid 1px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.profile-container h1 {
  color: coral;
  font-weight: bold;
  font-size: var(--font-lm);
  margin-top: 20px;
  text-align: center;
}
.profile-container .user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-container .user-profile img {
  margin: 5px;
  margin-top: 0;
  width: 40px;
  height: 40px;
}
.user-details {
  margin-left: 10px;
  color: black;
}
.profile-container .section-divider {
  border: solid 1px black;
  width: 250px;
  margin: 10px 0;
}
.add-account-link,
.sign-out-button {
  width: 221px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: black;
}
.add-account-link:hover,
.sign-out-button:hover {
  color: black;
  cursor: pointer;
}
.add-account-link :nth-child(2),
.sign-out-button p {
  width: 221px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  color: black;
}
.sign-out-button {
  margin-bottom: 20px;
}

.active-dark .profile-container .add-account-link :nth-child(2),
.active-dark .sign-out-button p,
.active-dark .user-details,
.active-dark .add-account-link,
.active-dark .sign-out-button {
  color: var(--bg-color-light);
}
.active-dark .profile-container .section-divider,
.active-dark .profile-container {
  border: solid var(--bg-color-light) 1px;
}
