.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2% 0;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100vw;
  background-color: white;
  color: black;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navbar .logo {
  font-size: var(--font-ls);
  letter-spacing: 1px;
  font-family: " sans-serif";
  font-weight: 700;
  color: var(--button-color2);
  cursor: pointer;
}

.profile-info,
.cart-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
  margin: 0 2%;
  text-decoration: none;
  color: black;
}
.cart-info:hover {
  text-decoration: none;
  color: black;
}
.profile-info:hover {
  text-decoration: none;
  color: black;
}

.dark-active:hover {
  color: var(--text-color-dark);
}
.segment {
  position: absolute;
  border: solid black 1px;
  margin-top: 100px;
  width: 98%;
  left: 1%;
  bottom: 0px;
}
.cart-info span {
  position: absolute;
  top: -5px;
  right: 13px;
  background: rgba(black 0);
  color: black;
  font-size: 12px;
  font-weight: 600;
}
.dark-active span {
  color: var(--text-color-dark);
}
.right .dark-mode {
  width: 25px;
}

.dark-active {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  .segment {
    border: var(--text-color-dark) solid 1px;
  }
}

@media (max-width: 600px) {
  .navbar .logo {
    font-size: var(--font-l);
    letter-spacing: normal;
    border: none;
  }
  .navbar {
    height: 60px;
    margin-top: 0;
    width: 100vw;
    padding-top: 7px;
  }
  .profile-info,
  .cart-info {
    /* padding: 0; */
    margin: 0;
    font-size: var(--font-sm);
  }
  .profile-info img,
  .cart-info img {
    width: 20px;
  }
  .cart-info span {
    font-size: var(--font-ss);
  }
}
