.product-p {
  padding: calc(125px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.product-p img {
  max-width: 325px;
  /* max-height: 380px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
}

.product-information {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}
.product-information :nth-child(2) {
  color: #5e6366;
}
.product-information :nth-child(3) {
  font-size: var(--font-ls);
  font-weight: 600;
}
.product-information :nth-child(4) {
  color: #003049;
  max-height: 250px;
  overflow: hidden;
}

.product-information .button {
  padding-top: 50px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.product-information .button button {
  width: 40%;
  height: 35px;
  border: none;
  border-radius: 10px;
  background-color: var(--button-color1);
  color: white;
  transition: all 100ms;
}

.product-information .button button:hover {
  background-color: var(--button-color2);
}

.primary-dark-active .product-information p {
  color: var(--text-color-dark);
}

/* When Screen size 1000px */
@media (max-width: 1000px) {
  .product-p img {
    max-width: 250px;
  }
}

/* When Screen size 600px */
@media (max-width: 600px) {
  .product-p {
    flex-direction: column;
    p {
      margin: 10px;
    }
  }
  .product-information button {
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
    height: 35px;
  }
}
